html,
body {
  height: 100%;
  margin: 0;
}

p,
#modal-table > tbody:last-child {
  text-align: justify;
  text-justify: inter-word;
}

.icon {
  display: inline;
}

.App {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.wrapper {
  flex: 1 0 auto;
}

#footer {
  flex-shrink: 0;
  background-color: rgba(13, 110, 253, 0.1);
  padding: 10px;
}

#details {
  font-size: 0.8rem;
}
